.header {
    display: flex;
    background-color: $primary-color;
    color: $second-text-color;
    padding: 2rem;

    &__branding {
        flex: 1 1 15rem;
    }

    &__name {
        font-size: 2.3rem;
        @include lato-font('bold');
    }

    &__title {
        font-size: 1rem;
        @include lato-font('light');
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__item {
        flex: 1;
        text-align: right;
        padding: 0 0 0 2rem;
    }

    &__brand-link {
        color: $second-text-color;
        list-style: none;
        text-decoration: none;
    }

    &__link {
        color: $second-text-color;
        list-style: none;
        text-decoration: none;

        padding: 2rem 1rem;
        border-radius: 2px 2px;

        &:hover {
            color: $success-text-color;
            background-color: $second-text-color;
        }
    }

    &__nav {
        flex: 2 1 10rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: $mediaMobileMiddleWidth) {
    .header {
        flex-direction: column;
        align-items: center;

        &__branding {
            flex: 2;
            padding-bottom: 2rem;
            text-align: center;
        }

        &__item {
            padding: 0;
        }

        &__nav {
            flex: 1;
        }
    } 
}