.question-how {
    padding: 2rem 0;

    &__header {
        @include header;
        text-align: center;
    }
}

@media (max-width: $mediaMobileLandscapeWidth) { 
    .question-how {
        padding: 1rem 0;
    }
}