.question-what {
  padding: 2rem 0;
  background-color: $primary-text-color;
  color: $second-text-color; 

  &__header {
    @include header;
    text-align: center;
  }

  &__columns {
    padding-top: 2rem;
  }

  &__resume-text {
    @include header;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0 2rem 0;
  }

  &__button {
    color: $second-text-color; 
    letter-spacing: 0.3rem;
    padding: 1rem 2rem;

    &--primary {
      color: $primary-color; 
      border: 2px solid $primary-color;

      &:hover {
        background-color: $primary-color;
        color: $primary-text-color;
      }
    }
  }
}

@media (max-width: $mediaMobileLandscapeWidth) {
  .question-what {
    &__columns {
      flex-direction: column-reverse;
    }
  }
}