$primary-color: #297aff;
$dark-color: #3a3a3a;
$grey-color: #575757;
$light-color: #c7c7c7;
$white-color: #fff;

$primary-text-color: $dark-color;
$second-text-color: $white-color;
$third-text-color: $light-color;
$success-text-color: $primary-color;

@include lato-include-font("black");
@include lato-include-font("medium");

@mixin header {
  font-size: 3rem;
  @include lato-font("heavy");
  padding: 2rem 0;
}

@mixin text {
  font-size: 1.2rem;
  line-height: 2rem;
  @include lato-font("light");
}

$mediaVeryWideWidth: 2000px;
$mediaWideWidth: 1430px;
$mediaMediumWidth: 1320px;
$mediaHDWidth: 1110px;
$mediaTabletWidth: 885px;
$mediaMobileLandscapeWidth: 768px;
$mediaMobileMiddleWidth: 450px;