@import 'fonts/lato';
@import "variables";
@import "header";
@import "nav";
@import "main_section"; 
@import "buttons"; 
@import "columns"; 
@import "article"; 
@import "resume"; 
@import "footer";
@import "question_how_section"; 
@import "question_what_section";
@import "contact";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    color: $primary-text-color;
    @include lato-font('medium');
}

.container {
    padding-left: calc((100vw - 70rem)/2);
    padding-right: calc((100vw - 70rem)/2);
}

@media (max-width: $mediaVeryWideWidth) {
    html {
        font-size: 18px; 
    }
}

@media (max-width: $mediaWideWidth) {
    html {
        font-size: 17px; 
    }
}

@media (max-width: $mediaMediumWidth) {
    html {
        font-size: 15px; 
    }
}

@media (max-width: $mediaHDWidth) {
    html {
        font-size: 12px; 
    }
}

@media (max-width: $mediaTabletWidth) {
    html {
        font-size: 10px; 
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}