@import 'fonts/lato';
@import "variables";
@import "header";
@import "nav";
@import "main_section"; 
@import "buttons"; 
@import "columns"; 
@import "resume"; 
@import "footer";
@import "question_how_section"; 
@import "question_what_section";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px; 
    @include lato-font('medium');
}

.container {
    padding-left: calc((100vw - 70rem)/2);
    padding-right: calc((100vw - 70rem)/2);
}