/*!
	Lato font.
*/
/* Lato (hairline, regular) */
@font-face {
  font-family: Lato;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-hairline/lato-hairline.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-hairline/lato-hairline.woff") format("woff"); }

/* Lato (hairline, italic) */
@font-face {
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-hairline-italic/lato-hairline-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-hairline-italic/lato-hairline-italic.woff") format("woff"); }

/* Lato (thin, regular) */
@font-face {
  font-family: Lato;
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-thin/lato-thin.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-thin/lato-thin.woff") format("woff"); }

/* Lato (thin, italic) */
@font-face {
  font-family: Lato;
  font-weight: 200;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-thin-italic/lato-thin-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-thin-italic/lato-thin-italic.woff") format("woff"); }

/* Lato (light, regular) */
@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-light/lato-light.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-light/lato-light.woff") format("woff"); }

/* Lato (light, italic) */
@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-light-italic/lato-light-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-light-italic/lato-light-italic.woff") format("woff"); }

/* Lato (normal, regular) */
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-normal/lato-normal.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-normal/lato-normal.woff") format("woff"); }

/* Lato (normal, italic) */
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-normal-italic/lato-normal-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-normal-italic/lato-normal-italic.woff") format("woff"); }

/* Lato (medium, regular) */
@font-face {
  font-family: "Lato Medium";
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-medium/lato-medium.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-medium/lato-medium.woff") format("woff"); }

/* Lato (medium, italic) */
@font-face {
  font-family: "Lato Medium";
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-medium-italic/lato-medium-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-medium-italic/lato-medium-italic.woff") format("woff"); }

/* Lato (semibold, regular) */
@font-face {
  font-family: Lato;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-semibold/lato-semibold.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-semibold/lato-semibold.woff") format("woff"); }

/* Lato (semibold, italic) */
@font-face {
  font-family: Lato;
  font-weight: 500;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-semibold-italic/lato-semibold-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-semibold-italic/lato-semibold-italic.woff") format("woff"); }

/* Lato (bold, regular) */
@font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-bold/lato-bold.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-bold/lato-bold.woff") format("woff"); }

/* Lato (bold, italic) */
@font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-bold-italic/lato-bold-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-bold-italic/lato-bold-italic.woff") format("woff"); }

/* Lato (heavy, regular) */
@font-face {
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-heavy/lato-heavy.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-heavy/lato-heavy.woff") format("woff"); }

/* Lato (heavy, italic) */
@font-face {
  font-family: Lato;
  font-weight: 800;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-heavy-italic/lato-heavy-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-heavy-italic/lato-heavy-italic.woff") format("woff"); }

/* Lato (black, regular) */
@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-black/lato-black.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-black/lato-black.woff") format("woff"); }

/* Lato (black, italic) */
@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-black-italic/lato-black-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-black-italic/lato-black-italic.woff") format("woff"); }

/* Lato (black, regular) */
@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-black/lato-black.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-black/lato-black.woff") format("woff"); }

/* Lato (black, italic) */
@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-black-italic/lato-black-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-black-italic/lato-black-italic.woff") format("woff"); }

/* Lato (medium, regular) */
@font-face {
  font-family: "Lato Medium";
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-medium/lato-medium.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-medium/lato-medium.woff") format("woff"); }

/* Lato (medium, italic) */
@font-face {
  font-family: "Lato Medium";
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("/node_modules/lato-font/fonts/lato-medium-italic/lato-medium-italic.woff2") format("woff2"), url("/node_modules/lato-font/fonts/lato-medium-italic/lato-medium-italic.woff") format("woff"); }

.header {
  display: flex;
  background-color: #297aff;
  color: #fff;
  padding: 2rem; }
  .header__branding {
    flex: 1 1 500px; }
  .header__name {
    font-size: 2.3rem;
    /* Lato (bold, normal) */
    font-family: Lato;
    font-weight: 600;
    font-style: normal; }
  .header__title {
    font-size: 1rem;
    /* Lato (light, normal) */
    font-family: Lato;
    font-weight: 300;
    font-style: normal; }
  .header__list {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header__item {
    flex: 1;
    text-align: right;
    padding: 0 0 0 2rem; }
  .header__brand-link {
    color: #fff;
    list-style: none;
    text-decoration: none; }
  .header__link {
    color: #fff;
    list-style: none;
    text-decoration: none;
    padding: 2rem 1rem;
    border-radius: 2px 2px; }
    .header__link:hover {
      color: #297aff;
      background-color: #fff; }
  .header__nav {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.nav {
  list-style: none; }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase; }

.main {
  padding: 2rem 0;
  display: flex; }
  .main__aside {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .main__aside:after {
      display: block;
      background: rgba(60, 60, 59, 0.062);
      position: absolute;
      width: 90%;
      height: 90%;
      content: "";
      z-index: -1;
      border-radius: 61% 39% 70% 30% / 63% 32% 68% 37%;
      transform: scale(1.25);
      left: 50%;
      bottom: -60px; }
  .main__info {
    flex: 3; }
  .main__my-photo {
    width: 20rem;
    height: 20rem;
    display: flex;
    border-radius: 50%;
    background-image: url("/assets/img/mk.jpeg");
    background-size: cover;
    transition: ease-in-out .3s;
    z-index: 2; }
    .main__my-photo:hover {
      border-radius: 0.5rem;
      width: calc(100% - 2rem);
      height: 20rem;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14); }

.button {
  background: transparent;
  border-radius: 2rem;
  color: #3a3a3a;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  padding: 1.2rem 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  transition-timing-function: ease-in-out; }
  .button:hover {
    color: #297aff; }
  .button--primary {
    border: 2px solid #3a3a3a; }
    .button--primary:hover {
      background-color: #3a3a3a;
      color: #fff; }

.columns {
  display: flex;
  justify-content: space-between; }
  .columns__column {
    flex: 1;
    padding: 0 1.5rem; }
    .columns__column:first-child {
      padding-left: 0; }
    .columns__column:last-child {
      padding-right: 0; }
    .columns__column--three-times-wider {
      flex: 3; }
    .columns__column--four-times-wider {
      flex: 4; }
  .columns__header {
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.2rem; }
  .columns__text {
    font-size: 1.2rem;
    line-height: 2rem;
    /* Lato (light, normal) */
    font-family: Lato;
    font-weight: 300;
    font-style: normal; }
  .columns__footer {
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem; }

.article__header {
  font-size: 3rem;
  /* Lato (heavy, normal) */
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
  padding: 2rem 0; }

.article__text {
  font-size: 1.2rem;
  line-height: 2rem;
  /* Lato (light, normal) */
  font-family: Lato;
  font-weight: 300;
  font-style: normal; }

.article__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0; }

.article__button {
  color: #3a3a3a;
  border-width: 0px; }
  .article__button--primary {
    border: 2px solid #3a3a3a; }
    .article__button--primary:hover {
      background-color: #3a3a3a;
      color: #fff; }

.resume {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .resume__log {
    padding-bottom: 1.5rem; }
  .resume__date {
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    color: #297aff;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    text-transform: uppercase; }
  .resume__job-title {
    font-size: 1rem;
    padding: 0.4rem 0; }
  .resume__company {
    font-size: 1.2rem;
    line-height: 2rem;
    /* Lato (light, normal) */
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem; }

.footer {
  background-color: #3a3a3a;
  color: #c7c7c7;
  display: flex;
  padding: 3rem;
  flex-wrap: wrap; }
  .footer__links, .footer__about {
    align-items: center;
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    line-height: 2rem; }
  .footer__title {
    font-size: 1rem;
    padding: 0 0 1rem 0;
    text-transform: uppercase; }
  .footer__link {
    color: #c7c7c7;
    font-size: 0.9rem;
    text-decoration: none;
    /* Lato (light, normal) */
    font-family: Lato;
    font-weight: 300;
    font-style: normal; }
    .footer__link:hover {
      color: #fff; }
  .footer__info {
    font-size: 0.9rem;
    /* Lato (light, normal) */
    font-family: Lato;
    font-weight: 300;
    font-style: normal; }
  .footer__copyright {
    border-top: 1px solid #575757;
    font-size: 0.8rem;
    flex: 1 1 100%;
    width: 100%;
    padding: 3rem 0 1rem 0;
    margin-top: 3rem;
    text-align: center;
    /* Lato (hairline, normal) */
    font-family: Lato;
    font-weight: 100;
    font-style: normal; }

.question-how {
  padding: 2rem 0; }
  .question-how__header {
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    text-align: center; }

.question-what {
  padding: 2rem 0;
  background-color: #3a3a3a;
  color: #fff; }
  .question-what__header {
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    text-align: center; }
  .question-what__columns {
    padding-top: 2rem; }
  .question-what__resume-text {
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0 2rem 0; }
  .question-what__button {
    color: #fff;
    letter-spacing: 0.3rem;
    padding: 1rem 2rem; }
    .question-what__button--primary {
      color: #297aff;
      border: 2px solid #297aff; }
      .question-what__button--primary:hover {
        background-color: #297aff;
        color: #3a3a3a; }

.contact {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact__header {
    flex: 1;
    font-size: 3rem;
    /* Lato (heavy, normal) */
    font-family: Lato;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 20px;
  color: #3a3a3a;
  /* Lato (medium, normal) */
  font-family: "Lato Medium";
  font-weight: 400;
  font-style: normal; }

.container {
  padding-left: calc((100vw - 70rem)/2);
  padding-right: calc((100vw - 70rem)/2); }
